/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #000;
    color: #fff;
}

/* NAVBAR */
header {
    position: sticky;
    top: 0;
    background: #111;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header h1 {
    color: #e10600;
}

nav a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 600;
}

nav a:hover {
    color: #e10600;
}

/* HERO */
.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),
    url("https://images.unsplash.com/photo-1571902943202-507ec2618e8f");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h2 {
    font-size: 50px;
}

.hero p {
    font-size: 22px;
    margin: 15px 0;
}

button {
    background: #e10600;
    border: none;
    padding: 15px 35px;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #ff1c1c;
}

/* CONTAINER */
.container {
    padding: 70px 10%;
    text-align: center;
}

.container h2 {
    color: #e10600;
    margin-bottom: 20px;
    font-size: 32px;
}

/* CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: #111;
    padding: 30px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    border: 1px solid #e10600;
}

.price h3 {
    margin-bottom: 10px;
}

.highlight {
    background: #e10600;
}

/* FOOTER */
footer {
    background: #111;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav {
        margin-top: 10px;
    }

    nav a {
        margin: 10px;
        display: inline-block;
    }

    .hero h2 {
        font-size: 36px;
    }
}
